<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title">
  <meta property="og:type">
  <meta property="og:url">
  <meta property="og:image">

  <link rel="manifest" href="site.webmanifest">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <div id="app">
  
    <section v-if="errored">
      <p>Info Unavailable</p>
    </section>
  
    <section v-else>
      <div v-if="loading">Loading...</div>
  
      <div
        v-else
        class="currency"
      >
        <span class="lighten">
          {{ info.monsta | currencydecimal }}
        </span>
      </div>
  
    </section>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
